<div
  id="mega_menu_1"
  data-mega-menu-1
  class="absolute  z-50 hidden  w-full transition-all duration-500 p-5 bg-gray-100 left-0 top-[100px]">
  <div class="grid grid-cols-1 md:grid-cols-4 my_container gap-4 ">
    {% comment %} slot_1 start {% endcomment %}
    <div class="slot_1">
      <div class="overflow-hidden">
        <img
          src="{{ block.settings.slot_1_image | image_url }}"
          width=""
          height=""
          class="w-[250px] h-[250px]"
          alt="">
      </div>
      <div class="flex justify-center py-4">
        <a class="text-2xl link-success no-underline" href="{{ block.settings.slot_1_link_url }}">
          {{ block.settings.slot_1_link_title }}</a>
      </div>
    </div>
    {% comment %} slot 2 {% endcomment %}
    <div class="slot_2">
      <div class="overflow-hidden">
        <img
          src="{{ block.settings.slot_2_image | image_url }}"
          width=""
          height=""
          class="w-[250px] h-[250px]"
          alt="">
      </div>
      <div class="flex justify-center py-4">
        <a class="text-2xl link-success no-underline" href="{{ block.settings.slot_2_link_url }}">
          {{ block.settings.slot_2_link_title }}</a>
      </div>
    </div>
    {% comment %} slot 3 {% endcomment %}
    <div class="slot_1">
      <div class="overflow-hidden">
        <img
          src="{{ block.settings.slot_3_image | image_url }}"
          width=""
          height=""
          class="w-[250px] h-[250px]"
          alt="">
      </div>
      <div class="flex justify-center py-4">
        <a class="text-2xl link-success no-underline" href="{{ block.settings.slot_3_link_url }}">
          {{ block.settings.slot_3_link_title }}</a>
      </div>
  </div>
    {% comment %} featured product {% endcomment %}
    {%- assign p_1 = block.settings.mega_menu_1_product -%}

    <div class="slot_1">
      <div class="overflow-hidden">
        <img
          src="{{ p_1.featured_image | image_url }}"
          width=""
          height=""
          class="w-[250px] h-[250px]"
          alt="">
      </div>
      <div class="flex justify-center py-4">
        <a class="text-2xl link-success no-underline" href="{{ p_1.url }}">
          {{ p_1.title }}</a>
      </div>
    </div>
  </div>

</div>