{%- liquid
  assign featured_article = section.settings.featured_article
-%}

<div class="my_container">
  <div>
    <span>Home
    </span>
    /
    <span>{{ blog.title }}</span>
    <span></span>
  </div>
  <div class=" grid grid-cols-1 gap-6 md:grid-cols-4 lg:grid-cols-5 py-8">
    <div class="features col-span-1 order-last md:order-first lg:order-first  ">
      {% render 'blog-features' section: section %}
    </div>
    <div class="blog col-span-1 md:col-span-3 lg:col-span-4 ">
      <div class="featured_article">
        <a href="{{featured_article.url }}">
          <div class="flex justify-start items-center gap-4 flex-col md:flex-row mb-4">
            <span class="badge badge-lg rounded-none badge-accent badge-outline capitalize">featured</span>
            <h2 class="text-3xl capitalize">
              {{ featured_article.title }}
            </h2>
          </div>
          <div class="text-gray-500 block mb-4 text-center md:text-left  ">
            {{ featured_article.content | truncate: 200 }}
          </div>
          {% comment %} detail {% endcomment %}
          <div class="mb-2 flex flex-col md:flex-row text-gray-400 gap-4 justify-start items-center italic ">
            <span class="text-gray-400">
              On
              {{ featured_article.published_at | date: '%b %d, %y' }}
            </span>
            <span>
              <span class="text-gray-400">by</span>
              <span class="text-gray-800 font-semibold">{{ featured_article.author }}</span>
            </span>
            <span class="hidden md:inline-block">
              /
            </span>
            <span class="text-gray-400">
              {{ featured_article.comments.size }} comments
            </span>
          </div>
          <div class=" overflow-hidden mb-4">
            <img
              src="{{ featured_article.image | image_url}}"
              width=""
              height=""
              class="w-full h-full zoom_hover"
              alt="">
          </div>
        </a>
      </div>
      <div class="article_loop py-5">
        <ul class="">
          {%- paginate blog.articles by 4 -%}
            {% for article in blog.articles %}
              <li class="mb-10">
                {% render 'blog-card'
                  , article: article %}
              </li>
            {% endfor %}
            <div class="default_pagination_container">
              {{- paginate | default_pagination -}}
            </div>
          {%- endpaginate -%}
        </ul>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Main blog",
    "tag": "section",
    "settings": [
      {
        "type": "article",
        "id": "featured_article",
        "label": "Select Default Article"
      }
    ],
    "blocks": [
      {
        "type": "product",
        "name": "Product",
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Feature Products"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Main blog",
        "settings": {}
      }
    ]
  }
{% endschema %}